<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>Countries</h1>

    <br>

    <ul id="countryList"> 
        <% for (let country of countries) { %>
          <li> <a href="/country?code=<%= country.cca3 %>"> <img src="<%= country.flags.png %>" height="10" width="20"> <%= country.name.common %> </a> </li>
        <% } %>
    </ul>

    <%- include('partials/footer.ejs') %>
    
    <!-- <script src="js/script.js"></script> -->
</body>
</html>
